@model Сrowdfunding.Models.ViewModels.CommentViewModel
@{
}
<form method="post" asp-action="Details" asp-controller="Home"
      data-ajax="true" data-ajax-mode="replace" data-ajax-update="#commentSection" enctype="multipart/form-data">
    <input type="hidden" name="CampaignId" value="@Model.Campaign.Id" />
    <textarea class="form-control" name="Content"></textarea>
    <input type="submit" value="Submit" />
</form>
@foreach (var comment in Model.Comments)
{
    if (comment.CampaignId == Model.Campaign.Id)
    {
        @await Html.PartialAsync("_CommentPartial", comment)
    }
}

